<div class="wrapping">
	<hr>
	<% @posts.reverse.each do |p| %>
	<div class="post_wrapper">
	  <h2 class="title"><%= link_to p.title, post_path(p.id) %></h2>
	  <p class="date"><%= p.created_at.strftime "%b %d, %Y" %></p>
	  <%= answered p %>
	</div>
	<% end %>
</div>
