<footer>
  <div class="footer-custom">
    <div class="row">
      <div class="col-xs-4 column">
        <p><a href="https://www.facebook.com/NctuStUnion" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a></p>
      </div>
      <div class="col-xs-4 column">
        <p class="newcomer"><a href="#" target="_blank"><i class="fa fa-chrome fa-lg"></i>網路新生包</a></p>
      </div>
      <div class="col-xs-4 column">
        <p><a href="https://stunion.nctu.edu.tw/blog/" target="_blank"><img src="assets/logo.png" style="width: 10%; height:10%;"></a></p>
      </div>
    </div>
    <div class="row"><p class="credits">© Copyrights國立交通大學X學聯會資訊部2016</p></div>
  </div>
</footer>
